.item{
    width: 300px;
    display: inline-block;
    position: relative;
}   
#container{
    width: 1000px;
    margin: 0 auto;
    padding: 2%;
}
.row{
    margin-bottom: 50px;
}
.discount, .discountred{
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
    cursor: pointer;
}
.discountred{
    background-color: red;
}
.heart{
    display: none;
    color: red;
    position: absolute;
    bottom: 20px;
    left: 50%;

}
.item:hover .heart{
    color: red;
    display: inline-block;
}